extends layout

block content
  if success
    .alert.alert-success.mb-4= success

    .page-title-block.mb-4
      h1.page-title Tout nos articles

  if user["roles"].includes("ROLE_ADMIN")
    .d-flex.align-items-center.justify-content-end
      a.btn.btn-success.d-flex.text-center(href="/documents/new") Ajouter un document

  - function objectIdEquals(id1, id2) {
  -   return id1.toString() === id2.toString();
  - }

  if documents.length
    .article-grid
      each document in documents
        .article-card
          .article-card-content
            h2.article-title= document.fields.titre_avec_lien_vers_le_catalogue
            p.article-author= document.fields.auteur || "Auteur inconnu"
            p.article-type= document.fields.type_de_document
            if document.fields.dispo === true
              button(id=document._id).btn.btn-primary.btnEmprunt Emprunter
            else if document.fields.dispo === false && user && user.borrowedDocuments && user.borrowedDocuments.some(id => objectIdEquals(id, document._id))
              button(id=document._id).btn.btn-primary.btnEmprunt.ramener Ramener
            if user && user.roles.includes("ROLE_ADMIN")
              form(action="/documents/delete" method="POST" class="form-delete")
                input(type="hidden" name="id" value=document._id)
                button.btn.btn-danger.btn-sm.mt-2(type="submit") Supprimer
    nav(aria-label='Page navigation')
      ul.pagination.justify-content-center
        if hasPreviousPage
          li.page-item
            a.page-link(href=`/documents?page=${previousPage}`) Précédent

        - var startPage = Math.max(1, currentPage - 2)
        - var endPage = Math.min(totalPages, startPage + 4)
        - if (endPage - startPage < 4 && startPage > 1)
          - startPage = Math.max(1, endPage - 4)

        if startPage > 1
          li.page-item
            a.page-link(href=`/documents?page=1`) 1
          if startPage > 2
            li.page-item.disabled
              span.page-link ...

        - for (let i = startPage; i <= endPage; i++)
          li.page-item(class=currentPage === i ? 'active' : '')
            a.page-link(href=`/documents?page=${i}`)= i

        if endPage < totalPages
          if endPage < totalPages - 1
            li.page-item.disabled
              span.page-link ...
          li.page-item
            a.page-link(href=`/documents?page=${totalPages}`)= totalPages

        if hasNextPage
          li.page-item
            a.page-link(href=`/documents?page=${nextPage}`) Suivant
  else
    p Aucun document disponible :(
