extends layout

block content
  if success
    .alert.alert-success.mb-4= success
  p= "Vous êtes connecté en tant que " + user["firstname"]
  if documents.length
    table.table.table-bordered.table-striped.mt-5
      thead.table-dark
        tr
          th Titre
          th Auteur
          th Emprunt
      tbody
        each document in documents
          tr
            td= document.fields.titre_avec_lien_vers_le_catalogue
            if document.fields.auteur.length === 0
              td
                i="Auteur inconnu"
            else
              td= document.fields.auteur
            if document.fields.dispo === true
              td.d-flex.justify-content-center
                button(class='btnEmprunt', onclick='bookAction()') Emprunter
  else
    p Aucun document disponible :(
 
